<head>
     <link rel="stylesheet" href="/css/footer.css">
</head>
<footer class="text-center text-white mt-5" style="background-color: #6290C8;height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;"" >
  
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #6290C8;">
    © 2021 Copyright:
    <a class="text-white" href="/dashboard">Jogo das Perguntas. Criado por Guilherme Augusto Gomes Cunha</a>
  </div>
  <!-- Copyright -->
</footer>