<div class="form-group" id="difficulty" name="difficulty" >
  <input class="w3-radio" style="accent-color:#6290C8 ;" type="radio" name="difficulty" value="Fácil" checked>
<label>Fácil</label>

<input class="w3-radio" style="accent-color:#6290C8 ;" type="radio" name="difficulty" value="Médio">
<label>Médio</label>

<input class="w3-radio" style="accent-color:#6290C8 ;" type="radio" name="difficulty" value="Difícil">
<label>Difícil</label>
</div>