<div class="form-group" id="area" name="area" >
  <input class="w3-radio" type="radio" name="area" value="Geografia" checked>
<label>Geografia</label>

<input class="w3-radio"  style="accent-color:#6290C8 ;" type="radio" name="area" value="Artes">
<label>Artes</label>

<input class="w3-radio"  style="accent-color:#6290C8 ;" type="radio" name="area" value="Ciências">
<label>Ciências</label>

<input class="w3-radio"  style="accent-color:#6290C8 ;" type="radio" name="area" value="Lazer" >
<label>Lazer</label>
</div>