<body style="background-color: #1F487E;">
<div class="container mt-4" style="background-color: white; border-radius: 10px;">
  <h3 style="color: #6290C8;">Crie sua pergunta</h3>
  
  <form action="/cadQuestion" method="POST">
    <form>
       <label style="color: #6290C8;">Assunto</label>
      {{>_selectArea}}
<label style="color: #6290C8;">Dificuldade</label>
      {{>_selectDifficulty}}
<div class="form-group">
        <label style="color: #6290C8;">Pergunta</label>
        <input id="question" class="form-control" name="question" aria-describedby="emailHelp"
          placeholder="Pergunta">
        <small class="form-text text-muted">Coloque a sua pergunta aqui, tente não dar dicas ou dificultar muito.</small>
      </div>
      <div class="form-group">
        <label style="color: #6290C8;">Resposta certa</label>
        <input id="rigthAnswer" class="form-control" name="rigthAnswer" aria-describedby="emailHelp"
          placeholder="Resposta certa">
        <small class="form-text text-muted">Coloque a resposta certa da sua pergunta.</small>
      </div>
      <div class="form-group">
        <label style="color: #6290C8;">Respostas erradas</label>
        <input id="wrongAnswer1" class="form-control" name="wrongAnswer1" aria-describedby="emailHelp"
          placeholder="Resposta errada 1">
          <br>
           <input id="wrongAnswer2" class="form-control" name="wrongAnswer2" aria-describedby="emailHelp"
          placeholder="Resposta errada 2">
          <br>
           <input id="wrongAnswer3" class="form-control" name="wrongAnswer3" aria-describedby="emailHelp"
          placeholder="Resposta errada 3">
        <small class="form-text text-muted">Coloque as respostas erradas da sua pergunta.</small>
      </div>
      <button class="btn btn-info">Cadastrar pergunta</a>
    </form>
  </form>
</div>
</body>

<script type"text/javascript" src="js/main.js"></script>