<body style="background-color:#1F487E ;  margin-bottom:50px;">
<div class="container mt-4" style="background-color: white; border-radius: 10px;">
    <h1 style="color: #6290C8;">Jogo das perguntas</h1>
    <div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-dark" style="color: white;background-color: #6290C8" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Dúvidas</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Como jogar?</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Quanto as perguntas valem?</a>
       <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-bid" role="tab" aria-controls="bid">Como crio perguntas?</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Não encontrei minha dúvida</a>
       
     </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Selecione uma das perguntas abaixo</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">O jogo irá sortear uma pergunta aleatória baseado na dificuldade escolhida pelo jogador, os jogadores vão revezando quem responde até ter um vencedor.</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Uma pergunta fácil vale 1 ponto, uma média vale 2 e uma difícil vale 3 pontos.</div>
      <div class="tab-pane fade" id="list-bid" role="tabpanel" aria-labelledby="list-settings-list">Existe um item no menu chamado CRIAR PERGUNTA, clicando nele você consegue cadastrar sua pergunta no nosso banco de dados.</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Caso sua dúvida seja algo diferente ou você não esteja satisfeito com as respostas entre em contato conosco pelo email guilhermegomescunha@hotmail.com</div>
        
    </div>
  </div>
</div>

</div>

</body>
