<body style="background-color:#1F487E ;  margin-bottom:50px;">
<div class="container mt-4" style="background-color: white; border-radius: 10px;">
    <h1 style="color: #6290C8;text-align: center;">O jogo das perguntas</h1>
    <hr style="color: #1F487E">
    <form>
        <div class="container mt-3" style="text-align: center;" >
   <a class="btn btn-info" style="width: 250px;" href="/beginGame">Começar jogo</a>
        </div>
        <div class="container mt-3" style="text-align: center;">
     <a class="btn btn-info" style="width: 250px;" href="/createQuestion">Criar pergunta</a>
        </div>
        <div class="container mt-3" style="text-align: center;">
      <a class="btn btn-info" style="width: 250px;" href="/howToPlay">Como jogar</a>
        </div>
        <div class="container mt-3" style="text-align: center;">
       <a class="btn btn-info" style="width: 250px;" href="https://github.com/CunhaGuilhermeBR/Jogo-das-Perguntas">Link do repositório</a>
        </div>
        <div class="container mt-3" style="text-align: center;">
       <a class="btn btn-info" style="width: 250px;" href="https://github.com/CunhaGuilhermeBR">Conheça o desenvolvedor</a>
        </div>
    </form>

</div>
</body>